//color platters

:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;





    //typography
    --color-grey-dark:#858D94;
    --color-grey-dark-1:#E9ECEF;
    --color-grey:#CCCCCC;
    --color-grey-light:#F2F2F2;
    --color-grey-light-2:#F8F9FA;

    --color-dark-black:#242423;

    --color-white:#ffffff;

    //box shadow
    --color-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    --color-shadow-light: 0 3rem 5rem rgba(0,0,0,0.06);
    --line: 1px solid var(--color-grey-dark-1);

    //notification color
    --color-notification:#fd0557;
}